.list-name{
	font-size: 16px;
	color: #4d4d4d;
}
.list-info{
	font-size: 12px;
}
.mat-panel-description{
	border-top: 1px solid #999;
  	padding: 10px 0;
}
.panel-title{
	color: #4d4d4d;
}

.plus-button {
	border-radius: 50%;
    height: 36px;
    width: 36px;
    margin: 8px;
    border: none;
}
